<div class="card home-container" style="width: 18rem;">
           <div class="card-body">
                                 <h3>Welcome to Friendx</h3>
                                 <p class = "friendx-top-text">You don't need a mobile application to use FriendX, it works great on mobile website too.</p>
                      
                                 <p class = "friendx-content-text">FriendX is a great way to meet and make new friends across the globe. When you use FriendX, 
                                 we pick someone else at random and let you talk one-on-one. You can always stop the chat anytime you 
                                 want.
                                 </p>
                      
                                 <p class = "friendx-content-text">By using FriendX, you agree with terms and conditions. 
                                 You must be 18+ or 13+ with parental permission.
                                 </p>
           </div>
</div>

<style>

.home-container {
           background: rgb(248, 234, 234);
           border-radius: 5px;
           width: 30rem !important;
}

p, h3 {
           font-family: Georgia, 'Times New Roman', Times, serif;
           font-size: 22px;
           padding: 10px;
}

h3 {
           font-size: 25px;
}

</style>
